API_KEY=secret

NEXT_PUBLIC_APP_URL=https://plus5000.vercel.app
# NEXT_PUBLIC_APP_URL=https://signalforge500.com

NEXT_PUBLIC_AUTH_ADMIN=
NEXT_PUBLIC_AUTH_ADMIN_PASS=

NEXT_PUBLIC_AUTH_USER=
NEXT_PUBLIC_AUTH_USER_PASS=

NEXT_PUBLIC_TAWKTO_PROPERTY_ID=
NEXT_PUBLIC_TAWKTO_WIDGET_ID=
TAWKTO_PASS=

DATABASE_URL=

BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=