API_KEY=secret

NEXT_PUBLIC_APP_URL=https://plus5000.vercel.app
# NEXT_PUBLIC_APP_URL=https://signalforge500.com

NEXT_PUBLIC_AUTH_ADMIN="admin@plus500.com"
NEXT_PUBLIC_AUTH_ADMIN_PASS="@superAdmin"

NEXT_PUBLIC_AUTH_USER="john@plus500.com"
NEXT_PUBLIC_AUTH_USER_PASS="@testUser"