@import "tailwindcss";
@import "./debug.css";
@import "./media-query.css";
@import "./flex.css";
@import "./form.css";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #171717;
  --brand: #0c2780;
  --brand-hover: #0a2270;
  --accent: #11afff;
  --icon: #8693bd;
  --icon-hover: #3988b4;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --white: #ededed;
  --black: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  --color-icon: var(--icon);
  --color-icon-hover: var(--icon-hover);
  --color-accent: var(--accent);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.dark body,
.dark {
  background: var(--background);
  color: var(--foreground);
}