@import "tailwindcss";
@import "./components";
@import "./utilities";

@import "./media-query.css";
@import "./flex.css";
@import "./buttons.css";
@import "./inputs.css";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #171717;
  --muted: #555;
  --logo: #0c3667;
  --primary: #0c2780;
  --primary-hover: #0a2270;
  --secondary: #2e86fe;
  --tertiary: #11afff;
  /*  */
  --info: #0288d1;
  --success: #13844e;
  --warning: #ed6c02;
  --danger: #d93e3e;
  /*  */
  --ash1: #f3f4f6;
  --ash2: #e5e7eb;
  --ash3: #d1d5dc;
  --ash4: #99a1af;
  --ash5: #6a7282;
  --ash6: #4a5565;
  --ash7: #364153;
  --ash8: #1e2939;
  --ash9: #101828;
}

.dark {
  --background: #1f2c39;
  --foreground: #eee;
  --white: #fff;
  --black: #1f2c39;
  --muted: #888;
  --secondary: #5697ec;
  /*  */
  --header: #1c2732;
  --aside: #131c24;
  --icon: #8a9499;
  --card: #37414d;
}

@theme inline {
  --font-f1: var(--font-roboto);
  --font-f2: var(--font-poppins);
  /*  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-muted: var(--muted);
  --color-logo: var(--logo);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  /*  */
  --color-header: var(--header);
  --color-aside: var(--aside);
  --color-icon: var(--icon);
  --color-card: var(--card);
  /*  */
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  /*  */
  --color-ash1: var(--ash1);
  --color-ash2: var(--ash2);
  --color-ash3: var(--ash3);
  --color-ash4: var(--ash4);
  --color-ash5: var(--ash5);
  --color-ash6: var(--ash6);
  --color-ash7: var(--ash7);
  --color-ash8: var(--ash8);
  --color-ash9: var(--ash9);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

.dark body,
.dark {
  background: var(--background);
  color: var(--foreground);
}

i,
address {
  font-style: normal;
}
