@import "tailwindcss";

@import "./debug.css";
@import "./media-query.css";
@import "./flex.css";
@import "./form.css";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #171717;
  --primary: #0c2780;
  --primary-hover: #0a2270;
  --secondary: #2e86fe;
  --tertiary: #11afff;
  /*  */
  --info: #0288d1;
  --success: #13844e;
  --warning: #ed6c02;
  --danger: #d93e3e;
  /*  */
  --ash1: #f3f4f6;
  --ash2: #e5e7eb;
  --ash3: #d1d5dc;
  --ash4: #99a1af;
  --ash5: #6a7282;
  --ash6: #4a5565;
  --ash7: #364153;
  --ash8: #1e2939;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --white: #ededed;
  --black: #0a0a0a;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  /*  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  /*  */
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  /*  */
  --color-ash1: var(--ash1);
  --color-ash2: var(--ash2);
  --color-ash3: var(--ash3);
  --color-ash4: var(--ash4);
  --color-ash5: var(--ash5);
  --color-ash6: var(--ash6);
  --color-ash7: var(--ash7);
  --color-ash8: var(--ash8);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.dark body,
.dark {
  background: var(--background);
  color: var(--foreground);
}

i,
address {
  font-style: normal;
}
